.main-blog {
    width: 100%;
    max-width: 800px;
    padding: 25px;
    margin: auto;
}

.blog-post {
    padding-top: 25px;
    padding-bottom: 25px;
}

.blog-text {
    text-align: justify;
}

.blog-pagination {
    padding-bottom: 25px;
}

.page-disabled {
    color: #808080;
}

.page-active {
    color: #e0e0e0 !important;
    background-color: #303030 !important;
}
