{% extends 'genesis/main/main.html.twig' %}

{% block title %}
    {% if title is defined %}
        {{ title|e }}
    {% else %}
        Blog
    {% endif %}
{% endblock %}

{% block sitename %}
    {% if sitename is defined %}
        {{ sitename|e }}
    {% else %}
        Partitura
    {% endif %}
{% endblock %}

{% block styles %}
        <link href="{{ asset('build/main/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <body>
        <main class="main-blog">
            <div class="blog-post" style="opacity: 0%">
                <h1>Это тестовый заголовок. Он нужен для теста стилей.</h1>
                <p class="main-text blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="blog-post" style="opacity: 0%">
                <h1>Второй тестовый заголовок. Опять же, для теста стилей.</h1>
                <p class="main-text blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="blog-post" style="opacity: 0%">
                <h1>Наконец, третий тестовый заголовок. Всё для теста стилей, да-да.</h1>
                <p class="main-text blog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <nav aria-label="Blog pagination" class="blog-pagination" style="opacity: 0%">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link page-disabled">«</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link page-active" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="#">»</a>
                    </li>
                </ul>
            </nav>
        </main>
    </body>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('build/main/blog.js') }}"></script>
{% endblock %}
