{% extends 'genesis/main/main.html.twig' %}

{% block title %}
    {% if title is defined %}
        {{ title|e }}
    {% else %}
        Blog
    {% endif %}
{% endblock %}

{% block sitename %}
    {{ sitename|e }}
{% endblock %}

{% block styles %}
        <link href="{{ asset('build/main/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <body>
        <main class="main-blog text-center">
            <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </main>
    </body>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('build/main/blog.js') }}"></script>
{% endblock %}
