{% extends 'genesis/main/main.html.twig' %}

{% block title %}
    {% if title is defined %}
        {{ title|e }}
    {% else %}
        Blog
    {% endif %}
{% endblock %}

{% block sitename %}
    {% if sitename is defined %}
        {{ sitename|e }}
    {% else %}
        Partitura
    {% endif %}
{% endblock %}

{% block body %}
    <body>
        <main>
            <div>
                <h1>Тестовый заголовок</h1>
                <p class="main-text">Тестовый текст.</p>
            </div>
        </main>
    </body>
{% endblock %}
