{% extends 'genesis/main/main.html.twig' %}

{% block title %}{{ title|e }}{% endblock %}
{% block sitename %}{{ sitename|e }}{% endblock %}

{% block body %}
    <body>
        <main>
            <div>
                <h1>Тестовый заголовок</h1>
                <p>Тестовый текст.</p>
            </div>
        </main>
    </body>
{% endblock %}
