<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title>
            {% block title %}{% endblock %} | {% block sitename %}Partitura{% endblock %}
        </title>
        <link href="{{ asset('build/862.css') }}" rel="stylesheet">
        <style>
            @font-face {
                font-family: 'Ubuntu';
                font-style: normal;
                font-weight: 400;

                src:
                    url({{ asset('build/fonts/ubuntu-all-400-normal.woff') }});
            }
        </style>
        <link href="{{ asset('build/main/main.css') }}" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</html>